<div class="container">
    <div class="row my-2">
            <label for="inputName" class="col-sm-1 col-form-label">Type</label>
            <div class="col-sm-6">
                <select class="form-control " name="" id="" 
                        name="type" id="type" 
                        [(ngModel)]="typeSelected"
                        (change)="handleGetTechnoByType()"
                        >
                        <option [value]="0" selected></option>
                        <option *ngFor="let type of types" [value]="type.id">{{type.libelle}}</option>
                </select>
            </div>
     </div>
    <div class="row ">
        <div class="card col-sm-5 mx-1 my-1 w-50"  
         *ngFor="let techno of (technos|myPipe:typeSelected)">
               <app-techno [techno]="techno" (technoDelete)="delete($event)">
           </app-techno>
        </div>
    </div>
</div>